body {
    color: #2d3c49;
    font-family: 'Roboto', sans-serif;
}

body {
    margin-top: 10px;
}

hr {
    border-top: 5px solid #7d97ad;
}

a {
    color: #2d3c49;
}

.card {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    border: 0;
    justify-content: space-between;
    text-align: right;
    text-transform: uppercase;
}

.card .name {
    font-size: 4em;
    font-weight: 100;
}

.card .title {
    font-size: 1.2em;
}

.featured-work {
    color: #7d97ad;
    font-size: 2.4em;
    font-weight: 400;
    margin-top: 20px;
}

.featured-item {
    text-align: center;
    margin-bottom: 20px;
}

.featured-item figure figcaption {
    font-size: 2em;
    margin-top: 10px;
    margin-bottom: 0;
    text-transform: uppercase;
}

.img {
    width: 100%;
}